In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [3]:
url = "https://raw.githubusercontent.com/ametoGiscarddEstaing/data-science-stuff/refs/heads/main/euro_2024.csv" # replace for your own filename
df = pd.read_csv(url, index_col=0, encoding='latin', on_bad_lines='skip', sep = ";")
#df = pd.read_csv(filename1, ) # gets the file and saves it in "df1"
#df_raw = pd.read_csv(filename1, encoding='latin', on_bad_lines='skip', sep = ";") # gets the file and saves it in "df1"

In [4]:
df

,version,doi,year,resp_id,country,countrycode,country_alpha2,d3,d4,d4_age,...,meta_end_date,meta_duration,meta_duration2,meta_consent,meta_mode,meta_vmobiledevice,Gen_by_age,Edu_rec,Weight1,Weight2
za_nr,,,,,,,,,,,,,,,,,,,,,
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,560556,1,56,BE,2,1954,70,...,2024-06-17,1257,00:20:57,1,1,5,8,1,0.697848,0.734922
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,560441,1,56,BE,2,1963,61,...,2024-06-16,1020,00:17:00,1,1,5,8,2,1.264243,1.338579
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,560543,1,56,BE,1,1955,69,...,2024-06-17,893,00:14:53,1,1,5,4,3,0.671724,0.594819
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,560161,1,56,BE,1,1963,61,...,2024-06-14,890,00:14:50,1,1,3,4,2,1.121143,1.191413
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,560871,1,56,BE,2,1982,42,...,2024-06-18,1271,00:21:11,1,1,5,7,3,1.216125,1.117679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,7521016,27,752,SE,2,1963,61,...,2024-06-24,709,00:11:49,1,1,3,8,2,1.406337,1.342382
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,7520797,27,752,SE,2,1992,32,...,2024-06-19,891,00:14:51,1,1,5,6,3,1.103413,1.064219
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,7520288,27,752,SE,1,1999,25,...,2024-06-17,1192,00:19:52,1,1,1,2,3,0.927830,0.901989
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,7520915,27,752,SE,1,1989,35,...,2024-06-21,720,00:12:00,1,1,5,2,1,0.819160,0.951742
8868,1-0-0 (2024-11-04),doi:10.4232/1.14409,2024,7520568,27,752,SE,1,2000,24,...,2024-06-18,915,00:15:15,1,1,1,1,3,0.766176,0.703480

In [5]:
df["d4_age"]

za_nr
8868    70
8868    61
8868    69
8868    61
8868    42
        ..
8868    61
8868    32
8868    25
8868    35
8868    24
Name: d4_age, Length: 25904, dtype: int64

In [6]:
vars = ["country_alpha2", "d8", "d2", "q2",  "q4", "q6", "q6n", "q9_3", "q9_6", "q9_5", "q12_1", "q12_2", "q12_3", "q12_4", "q12_5", "d3", "q17", "q13_6", "q13_8", "d9", "d4_age", "q16"]

In [7]:
df = df[vars]

In [8]:
df = df.loc[df["country_alpha2"] == "FR"]

In [9]:
df = df.drop("country_alpha2", axis = 1)

In [10]:
col_names = [
    "rural_urban",
    "education",
    "dem_satisfaction",
    "govt_approval",
    "vote_choice_EP",
    "vote_choice_EP_2",
    "vote_prop_lfi",
    "vote_prop_ps",
    "vote_prop_verts",
    "trade", 
    "redistrib", 
    "same_sex",
    "immigration",
    "climate",
    "gender", 
    "self_europe", 
    "politicians",
    "pro_ukraine",
    "religion",
    "age",
    "europe_good_bad"
]

In [11]:
df.columns = col_names

In [12]:
df = df[df < 97]

In [13]:
old_labels = [1, 2, 3] #good, bad, neither
new_labels = [3, 1, 2] #bad, neither, good

In [14]:
df["europe_good_bad"].value_counts()

europe_good_bad
1.0    437
3.0    300
2.0    215
Name: count, dtype: int64

In [15]:
df["europe_good_bad"] = df["europe_good_bad"].replace(old_labels, new_labels)

In [16]:
df["europe_good_bad"].value_counts()

europe_good_bad
3.0    437
2.0    300
1.0    215
Name: count, dtype: int64

In [ ]:
my_formula = "pro_ukraine  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())

In [ ]:
df2 = df.copy()

In [ ]:
df2["vote_prop_lfi"].describe()

In [ ]:
df2["vote_prop_lfi_rec"] = 0

In [ ]:
mask = df2['lfi_vote_prop'] = 0 
df2['age_cat'] = 0
mask = df2['lfi_vote_prop'] = 0 
df2['age_cat'] = 0

In [ ]:
df2["vote_prop_lfi_rec"] = pd.cut(df2["vote_prop_lfi"], bins=[0, 3, 5, 8, 10], labels=["Jamais (0)", "Peu probable (1-3)", "Possible (4-7) ", "Probable"])

In [ ]:
df2

In [ ]:
help(sm.graphics)

In [ ]:
df["education"].value_counts()

In [ ]:
my_formula = "pro_ukraine  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts + age + gender + education"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('ukraine.png', bbox_inches='tight')

In [ ]:
my_formula = "self_europe  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts + gender + age + education"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('self_europe.png', bbox_inches='tight')

In [ ]:
my_formula = "europe_good_bad  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts + gender + age + education"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('europe.png', bbox_inches='tight')

In [ ]:
my_formula = "vote_prop_lfi  ~  gender + age + education + self_europe + europe_good_bad"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('lfi.png', bbox_inches='tight')

In [ ]:
my_formula = "vote_prop_ps  ~  gender + age + education + self_europe + europe_good_bad"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('ps_europe.png', bbox_inches='tight')

In [ ]:
my_formula = "same_sex  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts + gender + age + education"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)
plt.savefig('same_sex.png', bbox_inches='tight')

In [ ]:
my_formula = "gender  ~ vote_prop_lfi + vote_prop_ps + vote_prop_verts"
model = smf.ols(formula=my_formula, data=df).fit()
print(model.summary())

In [ ]:
my_formula2 = "vote_int ~ age + ideology"
model = smf.logit(formula=my_formula, data=df).fit()

In [ ]:
fig= plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model_2, fig=fig)

In [ ]:
fig = plt.figure(figsize=(12,8))
sm.graphics.plot_partregress_grid(model, fig=fig)

In [ ]:
plt.figure()

In [ ]:
plt.hist(df_test[ax = "pro_ukraine"])
plt.show()

In [ ]:
df_test.plot.hist(alpha=0.5);

In [ ]:
vars_test = ["vote_prop_lfi", "vote_prop_ps", "vote_prop_verts"]

In [ ]:
df[vars_test].plot.kde()

In [ ]:
vars_test_2 =

In [ ]:
pd.crosstab(df["vote_prop_lfi"], df["pro_ukraine"], normalize=True).plot(kind='bar', subplots=True);